keras 
tensorflow
opencv-python 
h5py
tqdm
numpy
pandas
numba
moviepy 
pydub 
spacy 
zeyrek 
nltk 
jellyfish 
vosk
librosa 
transformers
scipy
matplotlib 
tensorflow-io 
gradio
torch